.container {
    margin: 80px auto 0 auto;
    max-width: 1200px;
}

.nav-container {
    margin: auto;
}

.card-color {
    background-color: mistyrose;
    color: crimson;
}

.nav-container svg{
    color: white
}